html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.side {
  flex: 1;
  text-align: center;
  line-height: 100vh;
  font-size: 50vh;
}

.status {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
.status.success {
  color: green;
}
.status.error {
  color: red;
}

.mode {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}